<ion-header class="ion-text-center">
  <ion-toolbar>
    <ion-title>
      SANTA BIBLIA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row class="ion-justify-content-center">
    <ion-col size="12">
      <ion-searchbar (input)="search($event)" (ionClear)="limpiarBusqueda()" placeholder="Buscar Libro"></ion-searchbar>
      <ion-list [inset]="true">
          <ion-item [button]="true" *ngFor="let lib of listLibs"  (click)="goLibrary(lib.nombre_libro)" >
            <ion-icon color="tertiary" slot="start" name="list-circle" size="large"></ion-icon>
            <ion-label>{{lib.nombre_libro}}</ion-label>
            <ion-note slot="end">{{lib.total_capitulos+" cap."}}</ion-note>
          </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>
