
<ion-header  class="ion-text-center" > 
  <ion-toolbar>
     <ion-row class="header" >
      <ion-col class="ion-text-center" size="3" size-md="3" size-xl="3" style="padding:2% 2% 2% 2%">
        <ion-icon style="margin-top: 5px;" (click)="goLibrary()" size="large" name="chevron-back-outline"></ion-icon>
       </ion-col>
      <ion-col class="ion-text-center" size="6" size-md="6" size-xl="6">
        <br>
       <ion-label style="font-weight: bold;">{{name_book}}</ion-label>
      </ion-col>
      <ion-col class="ion-text-right" size="3" size-md="3" size-xl="3" style="padding:2% 2% 2% 2%">
        <ion-icon style="margin-top: 5px;" (click)="openModal()" size="large" name="ellipsis-vertical-outline"></ion-icon>
      </ion-col>
    </ion-row> 

  </ion-toolbar>
</ion-header>
<br>
<ion-content #content id="tu-elemento-a-deslizar" [fullscreen]="true"  >
  <swiper-container #swiper [init]="swiperReady()"  > 
    <swiper-slide *ngFor="let p of contentList" >
      <ion-row class="ion-justify-content-center">
        <ion-col size="12" class="ion-text-center">
          <ion-label style="font-weight: bold;" >CAP. <span>{{p.capitulo}}</span> </ion-label>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="10" class="ion-text-justify">
          <p *ngFor="let v of p.versiculos">
            <span style="font-size: 0.7em; font-weight: bold;">{{v.versiculo}}</span> &nbsp;
             <ion-text >{{v.texto}}</ion-text>
          </p>
        </ion-col>
      </ion-row>
    </swiper-slide>
  </swiper-container>
</ion-content>
