<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/bible/home">
      <ion-icon name="library-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="setting" href="/bible/setting">
      <ion-icon name="settings-outline"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
