<ion-header class="ion-text-center">
  <ion-toolbar>
    <ion-title>
      SANTA BIBLIA
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content >
  <ion-row class="ion-justify-content-center">
    <ion-col size="12" >
        <ion-card >
            <img src="./assets/img/inprocess.png" />
          </ion-card>
    </ion-col>
    <ion-col size="12"  class="ion-text-center" >
      <br>
      <ion-label> VERSION 1.0.0 </ion-label>
    </ion-col>
</ion-row>

</ion-content>
