<ion-header class="ion-text-center">
    <ion-toolbar>
      <ion-title>
        SANTA BIBLIA
      </ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content [fullscreen]="true">
    <ion-row class="ion-justify-content-center">
        <ion-col size="12" class="ion-justify-content-center ion-text-center"  >
            <ion-img style="width: 80%; margin: auto;"  src="./assets/img/bible2.png" ></ion-img>
        </ion-col>
        <ion-col size="12" >
            <ion-card (click)="goLibrary('at')">
                <img src="./assets/img/at.png" />
                <ion-row>
                    <ion-col size="12">
                        <ion-card-subtitle>Antiguo testamento</ion-card-subtitle>
                    </ion-col>
                </ion-row>
              
              </ion-card>
        </ion-col>
        <ion-col size="12" >
            <ion-card (click)="goLibrary('nt')">
                <img src="./assets/img/nt.png" />
                <ion-row>
                    <ion-col size="12">
                        <ion-card-subtitle>Nuevo testamento</ion-card-subtitle>
                    </ion-col>
                </ion-row>
              </ion-card>
        </ion-col>
       <!-- <ion-col size="12">
            <ion-list [inset]="true">
                <ion-item [button]="true">
                  <ion-icon color="danger" slot="start" name="list-circle" size="large"></ion-icon>
                  <ion-label>General</ion-label>
                  <ion-note slot="end">6</ion-note>
                </ion-item>
                <ion-item [button]="true">
                  <ion-icon color="tertiary" slot="start" name="list-circle" size="large"></ion-icon>
                  <ion-label>Shopping</ion-label>
                  <ion-note slot="end">15</ion-note>
                </ion-item>
                <ion-item [button]="true">
                  <ion-icon color="success" slot="start" name="list-circle" size="large"></ion-icon>
                  <ion-label>Cleaning</ion-label>
                  <ion-note slot="end">3</ion-note>
                </ion-item>
                <ion-item [button]="true">
                  <ion-icon color="warning" slot="start" name="list-circle" size="large"></ion-icon>
                  <ion-label>Reminders</ion-label>
                  <ion-note slot="end">8</ion-note>
                </ion-item>
              </ion-list>
        </ion-col>-->
    </ion-row>
</ion-content>
