<ion-header>
  <ion-toolbar>

    <ion-title >CAPITULOS</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content >
  <ion-row class="ion-justify-content-center">
    <ion-col size="10" class="ion-text-justify">
      <ion-grid>
        <ion-row>
          <ion-col class="ion-text-center" *ngFor="let i of listNumCap" (click)="selectCap(i)" size="2">{{i}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>
  </ion-row>



</ion-content>